@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    我的HTML結構...
</div>

@section TopCSS{
    @*看你們組怎麼規定路徑*@
    <link rel="stylesheet" href="~/css/xxx.css" >
}

@section EndJS{
    @*看你們組怎麼規定路徑*@
    <script src = "~/js/xx.js"></script>
}

<p>結束</p>